{% load static %}

<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app-style-switcher.js' %}"></script>
<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>




{% load static %}

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>-->

 <!--Global script(used by all pages)-->
 <script src="{% static 'assets/plugins/jQuery/jquery.min.js' %}"></script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

<!-- <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
 <script src="{% static 'assets/plugins/metisMenu/metisMenu.min.js' %}"></script>
 <script src="{% static 'assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
 <!-- Third Party Scripts(used by this page)-->
 <script src="{% static 'assets/plugins/chartJs/Chart.min.js' %}"></script>
 <script src="{% static 'assets/plugins/sparkline/sparkline.min.js' %}"></script>


 <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'assets/plugins/qrcode/qrcode.js' %}"></script>
 <script src="{% static 'assets/plugins/qrcode/qrcode.min.js' %}"></script>


  <!-- Datatables js file -->
 

  <script src="{% static 'assets/plugins/datatables/dataTables.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/jszip.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables/data-bootstrap4.active.js' %}"></script>
 
 
  <script src="{% static 'assets/plugins/jQuery-slimScroll-1.3.8/jquery.slimscroll.js' %}"></script>
  <script src="{% static 'assets/plugins/jQuery-slimScroll-1.3.8/jquery.slimscroll.min.js' %}"></script>
  

  <!-- <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script> -->
 
